* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    background: rgb(242, 243, 243);
    position: fixed;
    width: 100%;
}

nav {
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

nav .content {
    display: flex;
    align-items: center;
}

.wrapper nav .content li {
    list-style: none;
}

.wrapper nav .content li i {
    padding: 2px 3px;
}

nav .content li a {
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 10px 35px;
    border-radius: 6px;
}

nav .content li :hover {

    border-radius: 3px;
    border: none;
    color: rgb(72, 75, 241);

}

.drop-services1,
.drop-services2,
.drop-services3 {
    display: block;
    position: absolute;
    top: 70px;
    padding: 40px 20px;
    background-color: rgb(242, 243, 243);
    height: 300px;
    width: 400px;
    border: none;
}

.drop-services1 ul li a,
.drop-services2 ul li a,
.drop-services3 ul li a {
    font-size: 15px;
    padding: 13px 30px;
}

.drop-services1 ul li a:hover,
.drop-services2 ul li a:hover,
.drop-services3 ul li a:hover {
    cursor: pointer;
    color: blueviolet;
    text-decoration: wavy;
    text-decoration: underline;
}

nav span {
    color: green;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

nav p {
    color: blueviolet;
    font-size: 30px;
    padding-left: 0.005px;
    padding-right: 150px;
}

nav p:hover {
    cursor: pointer;
}

nav button {
    padding: 10px 40px;
    background-color: rgb(195, 185, 204);
    border: none;
    border-radius: 12px;
    height: 50px;
    margin-top: 8px;
    margin-left: 40px;
}

nav button:hover {
    background-color: rgb(117, 148, 148);
    cursor: pointer;

}

.wrapper nav .dropping {
    font-size: 30px;
    color: blue;
    float: left;
    line-height: 80px;
    margin-left: 20px;
    cursor: pointer;
    display: none;
}

.login {
    position: fixed;
    top: 80px;
    left: 26rem;
    width: 35%;
    height: 85%;
    background-color: rgb(195, 185, 204);
    border-radius: 20px;
    z-index: 10;
}

.formName {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    margin-top: 2px;
    gap: 15px 20px;
}

.login .close-login {
    background: none;
    font-size: 25px;
    position: fixed;
    top: 80px;
    left: 50rem;
    height: 0.00001%;
    width: 29%;
    padding-bottom: 2px;
    margin-bottom: 0;
    cursor: pointer;
    width: 0.00001%;
}

.login .close-login:hover {
    color: red;
}

.formName h1 {
    font-size: 70px;
    position: relative;
    top: -20px;
}

.formName label {
    font-size: 30px;
}

.formName input {
    padding: 10px 50px;
    font-size: 17px;
    border: none;
    border-radius: 6px;
}

.formName .btnLogin {
    padding: 10px 50px;
    font-size: 17px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


.formName a {
    text-decoration: none;
}

.formName a:hover {
    cursor: pointer;
    color: blue;
}

.hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 10, 10, 0.6);
    backdrop-filter: blur(6px);
    z-index: 5;
}

#navi {
    display: none;
}

@media screen and (max-width:1300px) {
    .login {
        position: fixed;
        left: 20%;
    }

    .login .close-login {
        position: relative;
        left: 450px;
        top: 30px;

    }
}

@media screen and (max-width: 1280px) {
    .wrapper nav {
        display: inline-flex;
    }

    .login .close-login {
        position: relative;
        left: 370px;
        top: 30px;

    }
}

@media screen and (max-width: 1050px) {
    .wrapper nav .content li a {
        font-size: 18px;
    }

    .wrapper nav .content .drop-services li a {
        font-size: 14px;
    }

    .wrapper nav button {
        margin-left: 1px;
        padding: 10px 15px;
    }
}

@media screen and (max-width: 1250px) {
    .wrapper nav {
        max-width: 100%;
        padding: 0 20px;
    }

    .wrapper nav .content {
        margin-left: 30px;
    }

    .wrapper nav .content li a {
        padding: 8px 13px;
    }
}

@media screen and (max-width: 950px) {
    .wrapper nav {
        display: flex;
        justify-content: space-between;
    }

    .wrapper nav .content li a {
        font-size: 17px;
    }

    .login .close-login {
        position: relative;
        left: 300px;
        top: 30px;

    }
}

@media screen and (max-width: 900px) {
    .wrapper nav .dropping {
        display: block;
    }

    .wrapper nav .content {
        display: block;
        background-color: rgb(205, 171, 238);
        align-items: center;
        position: fixed;
        top: 70px;
        left: -120%;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: all .5s;
    }

    #navi:checked~.content {
        left: -30px;
    }

    .wrapper nav .content li {
        display: block;
        margin-left: 260px;
        padding: 10px 10px;
        position: relative;
        top: 20px;
        width: 150px;
    }

    .wrapper nav .content .drop-services {
        font-size: 14px;
        position: absolute;
        top: 2px;
        left: 150px;
        padding: 1px 2px;
        background-color: rgb(205, 171, 238);
    }

    .wrapper nav .content .drop-services:hover {
        cursor: pointer;
        padding: 2px 5px;
    }

    .wrapper nav .content .drop-services li a {
        padding: 2px 1px;
        margin-top: 0;
        position: relative;
        top: 1px;
        left: -280px;
        color: rgb(2, 1, 12);

    }

    .wrapper nav .content .drop-services li a:hover {
        color: black;
    }
}

@media screen and (max-width:800px) {
    .login {
        position: fixed;
        left: 90px;
        width: 70%;
        height: 70%;
    }

    .login .close-login {
        position: relative;
        left: 400px;
        top: 10px;

    }
}

@media screen and (max-width:790px) {
    .login .close-login {
        position: relative;
        left: 240px;
        top: 10px;

    }

    .login {
        position: fixed;
        left: 200px;

    }

    .login .formName h1 {
        font-size: 25px;
    }

    .login .formName input {
        padding: 9px 15px;
    }

    .formName label {
        font-size: 18px;
    }
}

@media screen and (max-width: 660px) {
    .wrapper nav .dropping {
        display: block;
    }

    .wrapper nav .content {
        display: block;
        background-color: rgb(205, 171, 238);
        align-items: center;
        position: absolute;
        top: 70px;
        left: -120%;
        width: 120%;
        height: 500px;
        margin-left: 1px;
        transition: all .5s;
    }

    #navi:checked~.content {
        left: -30px;
    }

    .wrapper nav .content li {
        margin-left: 20px;
        padding: 10px 10px;
        position: relative;
        top: 20px;
        width: 150px;
    }

    .wrapper nav .content .drop-services {
        font-size: 14px;
        position: absolute;
        top: 2px;
        left: 150px;
        padding: 1px 35px;
        background-color: rgb(205, 171, 238);
    }

    .wrapper nav .content .drop-services:hover {
        cursor: pointer;
        padding: 2px 5px;
    }

    .wrapper nav .content .drop-services li a {
        padding: 2px 1px;
        margin-top: 0;
        position: relative;
        top: 1px;
        left: -40px;
        color: rgb(2, 1, 12);

    }

    .wrapper nav .content .drop-services li a:hover {
        color: black;
    }

    .login {
        position: fixed;
        left: 40px;
        width: 80%;

    }

    .login .close-login {
        position: relative;
        left: 400px;
        top: 10px;

    }

}

@media screen and (max-width:530px) {
    .login .close-login {
        position: relative;
        left: 330px;
        top: 10px;

    }
}

@media screen and (max-width: 440px) {
    .login .close-login {
        position: relative;
        left: 200px;
        top: 10px;

    }
}

@media screen and (max-width: 420px) {
    .wrapper nav .logo {
        font-size: 17px;
        margin-left: 70px;
        margin-right: 0;
    }

    .wrapper nav button {
        position: absolute;
        left: 280px;
    }

    .wrapper nav .content li a {
        font-size: 12px;
    }

    .wrapper nav .content .drop-services li a {
        font-size: 11px;
    }
}

@media screen and (max-width: 360px) {
    .wrapper nav .logo {
        font-size: 14px;
        margin-left: 60px;
        margin-right: 0;
    }

    .wrapper nav button {
        position: absolute;
        left: 220px;
    }

    .wrapper nav .content li a {
        font-size: 10px;
    }

    .wrapper nav .content .drop-services li a {
        font-size: 10px;
    }
}

@media screen and (max-width: 280px) {
    .login {
        position: fixed;
        left: 10px;
        width: 90%;
    }

    .login .close-login {
        position: relative;
        left: 100px;
        top: 5px;

    }

    .formName h1 {
        font-size: 15px;
    }

    .formName input {
        font-size: 13px;
        padding: 8px 5px;
    }
}

.Herosection {
    background-image: url("/images/background\(1\).jpg");
    background-size: cover;
    background-position: center;
    padding: 20px 20px;
    height: 100vh;
    max-width: 100%;

}

.Herosection p {
    text-align: center;
    color: rgb(22, 6, 22);
    font-size: 80px;
    padding: 200px;
    height: 100%;
    width: 100%;
}

@media screen and (max-width:1250px) {
    .Herosection {
        max-width: 100%;
        padding: 0;
    }

    .Herosection p {
        max-width: 100%;
        max-height: 90%;
    }
}

@media screen and (max-width:900px) {
    .Herosection {
        width: 100%;
        padding: 0;
        height: 100%;
    }

    .Herosection p {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width:675px) {
    .Herosection p {
        width: 45%;
        padding-left: 10px;
    }
}

@media screen and (max-width:400px) {
    .Herosection {
        width: 100%;
        padding: 0;
    }

    .Herosection p {
        font-size: 70px;
    }
}

@media screen and (max-width:480px) {
    .Herosection p {
        width: 45%;
        font-size: 40px;
        align-items: center;
    }
}

.about {
    padding: 30px;
    background-color: rgb(197, 199, 199);
    border-top: 2px rgb(32, 30, 30) solid;
}

.about span {
    text-decoration: wavy;
}

.about .sub_headings {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.about .sub_headings .mission {
    display: flex;
    flex-direction: column;
}

.about .sub_headings .mission:hover {
    cursor: pointer;
}

.about .sub_headings .mission h1 {
    text-decoration: wavy;
}

.about .sub_headings .mission h1:hover {
    cursor: pointer;
    columns: rgb(10, 9, 12);
}

.about .sub_headings .mission img {
    height: 400px;
    width: 340px;
    border-radius: 40px;
    padding: 20px 2px;
}

.about .sub_headings .mission p {
    width: 250px;
    padding: 9px;

}

.about .sub_headings .mission input {
    padding: 10px;
    border: none;
    border-radius: 6px;
    color: rgb(3, 3, 3);
    font-size: 20px;
}

.about .sub_headings .mission input:hover {
    cursor: pointer;
    color: rgb(10, 9, 12);
    scale: 1.1;
    background-color: rgb(117, 148, 148);
}

@media screen and (max-width:1250px) {

    .about .sub_headings .mission input:hover {
        cursor: pointer;
        color: rgb(10, 9, 12);
        scale: 1.02;
        background-color: rgb(117, 148, 148);
    }

    .about .sub_headings .mission input {
        padding: 10px 20px;
        border: none;
        border-radius: 6px;
        color: rgb(3, 3, 3);
        font-size: 20px;
    }
}

@media screen and (max-width: 1030px) {
    .about .sub_headings {
        height: fit-content;
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.1px;
        padding: 30px 30px;
        height: 45%;
        align-items: center;
    }

    .about .sub_headings .mission input:hover {
        cursor: pointer;
        color: rgb(10, 9, 12);
        scale: 1.02;
        background-color: rgb(117, 148, 148);
    }

    .about .sub_headings .mission input {
        padding: 10px 20px;
        border: none;
        border-radius: 6px;
        color: rgb(3, 3, 3);
        font-size: 18px;
    }
}

@media screen and (max-width:900px) {
    .about .sub_headings {
        display: block;
        align-items: center;
    }

    .about .sub_headings .mission input {
        padding: 10px 15px;
        border: none;
        border-radius: 6px;
        color: rgb(3, 3, 3);
        font-size: 19px;
    }

    .about .sub_headings .mission input:hover {
        cursor: pointer;
        color: rgb(10, 9, 12);
        scale: 1.02;
        background-color: rgb(117, 148, 148);
    }
}

@media screen and (max-width:850px) {
    .about .sub_headings .mission input {
        padding: 10px 10px;
        border: none;
        border-radius: 6px;
        color: rgb(3, 3, 3);
        font-size: 19px;
    }

    .about .sub_headings .mission input:hover {
        cursor: pointer;
        color: rgb(10, 9, 12);
        scale: 1.02;
        background-color: rgb(117, 148, 148);
    }
}

@media screen and (max-width:400px) {
    .about .sub_headings .mission img {
        height: 220px;
        width: 220px;
        border-radius: 40px;
        padding: 20px 2px;
    }
}

@media screen and (max-width:305px) {
    .about .sub_headings .mission p {
        padding: 11px 12px;
        padding-left: 0.5px;
        width: 60%;

    }
}

@media screen and (max-width:280px) {
    .about .sub_headings .mission img {
        height: 190px;
        width: 198px;
        border-radius: 40px;
        padding: 20px 2px;
    }

    .about .sub_headings {
        padding-left: 5px;
    }
}

.help {
    padding: 30px;
    background-color: rgb(197, 199, 199);
    border-top: 2px rgb(32, 30, 30) solid;
}

.help h1 {
    color: rgb(119, 119, 148);
}

.help .headings_help {
    display: flex;
    justify-content: space-around;
}

.help .headings_help .contact {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.help .headings_help .contact a {
    text-decoration: none;
    padding: 8px;
    color: rgb(59, 59, 255);
}

.help .headings_help .contact a:hover {
    cursor: pointer;
    color: blue;
}

.help .headings_help .contact h1 {
    padding: 10px;
}

.help .headings_help .contact input {
    padding: 10px 10px;
    border: none;
    border-radius: 6px;
    color: rgb(3, 3, 3);
    font-size: 20px;
    background-color: aliceblue;
}

.help .headings_help .contact span {
    padding: 10px;
    border: none;
    border-radius: 6px;
    color: rgb(3, 3, 3);
    font-size: 20px;
}

.help .headings_help .contact input:hover {
    cursor: pointer;
    color: rgb(10, 9, 12);
    scale: 1.1;
    background-color: rgb(253, 107, 107);
}

@media screen and (max-width:860px) {
    .help .headings_help {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.1px 20px;
        align-items: center;
    }

    .help .headings_help .contact input:hover {
        cursor: pointer;
        color: rgb(10, 9, 12);
        scale: 1.05;
        background-color: rgb(253, 107, 107);
    }
}

@media screen and (max-width:505px) {
    .help .headings_help {
        display: block;
    }
}

@media screen and (max-width:357px) {
    .help .headings_help .contact a {
        text-decoration: none;
        font-size: 15px;
        padding: 2px;
        color: rgb(59, 59, 255);
    }
}

@media screen and (max-width:290px) {
    .help .headings_help .contact a {
        text-decoration: none;
        font-size: 10px;
        padding: 2px;
        color: rgb(59, 59, 255);
    }

    .help .headings_help .contact h1 {
        padding: 10px;
        font-size: 15px;
    }