* {
    padding: 0px;
    margin: 0%;
    box-sizing: border-box;
}

nav {
    background: rgba(242, 243, 243, 0.178);
    /* position: fixed; */
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
}

nav span {
    color: green;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

nav p {
    color: blueviolet;
    font-size: 30px;
    padding: 17px 100px;
    background-color: rgba(242, 243, 243, 0.178);
}

nav p:hover {
    cursor: pointer;
}

nav h1 {
    padding: 20px 140px;
}

p {
    color: rgb(6, 6, 8);
    font-size: 30px;
    background-color: rgb(218, 241, 252);
    padding: 10px;
}


body {
    background: url(../images/login\ \(2\).jpg);
    background-position: center;
    background-size: cover;
}

/*registration form*/
.register {
    background-color: rgba(10, 9, 9, 0.384);
    position: relative;
    top: 2px;
    left: 20%;
    border-radius: 20px;
    max-height: fit-content;
    width: 60%;

}

.register .reg {
    margin-left: 300px;
    padding: 15px;
}

.CoolInputs .details input,
label {
    padding: 10px 70px;
    width: 350px;
    display: inline-block;
}

.CoolInputs .details label {
    font-size: 18px;
}

.register .CoolInputs .details input {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: none;
}

.CoolInputs .gender {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}

.CoolInputs input[type="checkbox"] {
    margin-left: 65px;
    margin-top: 2px;
    padding: 5px;
    cursor: pointer;
    gap: 10px;
}

.CoolInputs button {
    padding: 15px 30px;
    margin: 20px 350px;
    font-size: 18px;
    cursor: pointer;
}