*{
    padding: 0px;
    margin: 0%;
    box-sizing: border-box;
 }
 body{
     background-image: url("/images/background\(1\).jpg");
     background-size: cover;
     background-position: center;
     height: 100%;
     width: 100%;
 }
 .main{
     height: 990px;
     width: 600px;
     padding: 20px 30px;
     margin-left: 29%;
     margin-top: 1.2%;
     margin-bottom: 1.2%;
     border-radius: 12px;
 }
 h1{
    margin-left: 20%;
    text-transform: uppercase;
    padding: 3%;
    font-style: italic;
    color: rgb(39, 39, 14);
    font-weight: bolder;
 }
 h1:hover{
     color: rgb(27, 65, 33);
     cursor: pointer;
 }
 .CoolInputs{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     flex-direction: column;
     padding: 15px;
     align-content: flex-start;
 }
 .CoolInputs input{
 padding: 10px 120px;
 border: none;
 border-radius: 12px;
 outline: none;
 background: transparent;
 border-bottom: 2px solid rgb(67, 133, 81);
 color: rgb(3, 66, 61);
 
 }
 .CoolInputs input:hover{
     color: rgb(7, 5, 6);
     scale: 1.1;
 }
 .CoolInputs label{
     font-size: 18px;
     padding: 10px;
     margin-right: 100px;
     font-weight: bold;
     
 }
 
 
 .gender{
     padding: 30px;
     margin-left: 6%;
     font-size: 20px;
 }
 .gender input[type="checkbox"]{
     padding: 100px;
     margin-left: 0;
     
 }
 .gender input[type="checkbox"]:hover{
     cursor: pointer;
     scale: 1.5;
 }
 .gender input[type="radio"]:hover{
     cursor: pointer;
     scale: 1.5;
     outline: none;
     border: none;
 }
 button{
     padding: 10px 50px;
     margin-top: 10px;
     border: none;
     outline: none;
     border-radius: 12px;
 }
 button:hover{
     scale: 1.1;
     transition: ease-in-out 500ms;
     color: rgb(229, 226, 235);
     background-color: rgb(45, 20, 187);
     cursor: pointer;
 }
 
   